body{
    background: rgb(0,15,36);
    background: linear-gradient(90deg, rgba(0,15,36,1) 0%, rgba(9,121,90,1) 35%, rgba(0,116,255,1) 100%);

}

h1{
    color: #fff;
    padding: 10px;
    text-align: center;
}

ul{
    padding: 20px;
}

#main button{
    margin-top: 10px;
}